<!DOCTYPE html>
<html ng-app="babble">

<head>
  <meta charset="UTF-8">
  <title>Babble</title>

  <!-- font-family: 'Oswald', sans-serif; -->
  <!-- font-family: 'Roboto Condensed', sans-serif; -->
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link rel="import" href="./_styles.html">

  <!-- Socket.io gets lazy loaded via ocLazyLoad -->

  <!--bower-->
  <script src="./external/jquery/dist/jquery.js"></script>
  <script src="./external/lodash/dist/lodash.js"></script>
  <script src="./external/angular/angular.js"></script>
  <script src="./external/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="./external/oclazyload/dist/ocLazyLoad.js"></script>
  <!--end bower-->

  <script src="./app.js"></script>
  <script src="./services/socket.service.js"></script>
  <script src="./services/cache.service.js"></script>
  <script src="./controllers/home.controller.js"></script>
  <script src="./controllers/connected.controller.js"></script>
</head>

<body>
  <div ui-view></div>
</body>

</html>
