<!DOCTYPE html>
<html ng-app="babble">
  <head>
    <meta charset="UTF-8">
    <title>Babble</title>
    <link rel="import" href="./_styles.html">

    <!--bower-->
    <script src="./../../external/jquery/dist/jquery.js"></script>
    <script src="./../../external/lodash/dist/lodash.js"></script>
    <script src="./../../external/angular/angular.js"></script>
    <script src="./../../external/angular-ui-router/release/angular-ui-router.js"></script>
    <!--end bower-->

    <script src="./../app.js"></script>
    <script src="./../controllers/home.controller.js"></script>
  </head>
  <body>
      <div ui-view></div>
  </body>
</html>
