<link href="./../assets/styles/css/base.css" rel="stylesheet" type="text/css" />
<link href="./../assets/styles/css/themes/amethyst.css" rel="stylesheet" type="text/css" />
<link href="./../../node_modules/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css"/>
<link href="./../../node_modules/vex-js/css/vex.css" rel="stylesheet" type="text/css"/>
<link href="./../../node_modules/vex-js/css/vex-theme-wireframe.css" rel="stylesheet" type="text/css"/>
<link href="./../assets/styles/css/overrides/vex.css" rel="stylesheet" type="text/css" />
<script>window.$ = window.jQuery = require('jquery');</script>
<script src="./../../node_modules/lodash/index.js"></script>
<script src="./../../node_modules/angular/angular.js"></script>
<script src="./../../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
<script src="./../../node_modules/vex-js/js/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
<script src="./../app.js"></script>
<script src="./../services/menuSvc.js"></script>
<script src="./../services/authSvc.js"></script>
<script src="./../services/windowSvc.js"></script>
<script src="./../controllers/homeCtrl.js"></script>
