<!DOCTYPE html>
<html ng-app="babble" ng-controller="homeCtrl">
  <head>
    <meta charset="UTF-8">
    <title>Babble</title>
    <link rel="import" href="_styles.html">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="./../../node_modules/lodash/index.js"></script>
    <script src="./../../node_modules/angular/angular.js"></script>
    <script src="./../../node_modules/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./../../node_modules/vex-js/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
    <script src="./../app.js"></script>
    <script src="./../controllers/homeCtrl.js"></script>
    <script src="./../controllers/newConnectionCtrl.js"></script>
  </head>
  <body>
    <div ng-show="display.newConnectionOverlay" class="content-overlay">
      <div class="newConnection" ng-include="'newConnection.html'"></div>
    </div>
    <div class="content">
      <div ng-show="connected">
        <form ng-submit="onChatSend(message)">
          <input type="text" ng-model="message" />
          <button type="submit">Send</button>
        </form>
        <hr />
        <div ng-repeat="msg in messages">
          {{ msg.user.username + ': ' + msg.data }}
        </div>
      </div>
    </div>
  </body>
</html>
