<!-- <div id="loginPage">
  <div id="loginWrapper" ng-show="showForm">
    <form ng-submit="connect(host, port, { username: username, password: password }, null)">
      <div class="connect-item">
        <div>Host</div>
        <input type="text" ng-model="host" />
      </div>
      <div class="connect-item">
        <div>Port</div>
        <input type="text" ng-model="port" />
      </div>
      <div class="connect-item">
        <div>Username</div>
        <input type="text" ng-model="username" />
      </div>
      <div class="connect-item">
        <div>Password</div>
        <input type="text" ng-model="password" />
      </div>
      <div class="connect-item">
        <button type="submit">Connect</button>
      </div>
    </form>
  </div>
</div>

<div>
  {{error}}
</div> -->
