$color-one: #1985A1;
$color-two: #4C5C68;
$color-three: #46494C;
$color-four: #C5C3C6;
$color-five: #DCDCDD;

$font-one: 'Oswald', sans-serif;
$font-two: 'Roboto Condensed', sans-serif;
$font-three: Helvetica, sans-serif;
$font-size: 13px;

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
