$font-stack:    Helvetica, sans-serif;
$font-size:     13px;
$primary-color: #222;
$primary-bg-color: #551A8B;

body {
  font: $font-size $font-stack;
  color: $primary-color;
  background: lighten($primary-bg-color, 50%);
  overflow: hidden;
}

.content {
  height: 600px;
  width: 450px;
  // background: url('./../../../images/main.jpeg');
  // background-size: cover;
  // background-position: bottom center;
  // opacity: 0.5;
}
